@model ActiveStreamViewModel
@{
    ViewData["Title"] = "ActiveStreams";
}



<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <section id="user-profile-cards-with-stats" class="row mt-2">
            @foreach (var stream in Model.Streams)
            {
                if (stream.UserId != null)
                {
                    //var user = @Model.Users.Where(t => t.Id == stream.UserId).First();
                    <a href="/Stream/@stream.Id">
                        <div class="card profile-card-with-stats">
                            <div class="card-body stream-body">
                                <img src="@(stream.LiveStreamEndpoint+stream.StreamKey+".png")">
                                <h2 class="text-bold-600">@stream.StreamName</h2>
                                <h4 class="text-bold-200">@stream.User.Name @stream.User.Surname</h4>
                                <h4 class="text-bold-200"><a>@stream.Course.Name</a> in <a href="/Category/@stream.Course.Category.Id">@stream.Course.Category.Name</a></h4>
                            </div>
                        </div>
                    </a>
                }
            }
        </section>
    </div>
</div>


