@model List<IGrouping<OnlineEducationAPP.MvcWebUI.Identity.ApplicationUser, Message>>

<li class="dropdown dropdown-notification nav-item">
    <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
        <i class="ficon ft-mail"></i>
        <span id="outerNotify" class="badge badge-pill badge-default badge-danger badge-default badge-up badge-glow">@(Model.Count != 0 ? Model.Count + "" : null)</span>

    </a>
    <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
        <li class="dropdown-menu-header">
            <h6 class="dropdown-header m-0">
                <span class="grey darken-2">Messages</span>

            </h6>
            <div id="innerNotify">
                <span class="notification-tag badge badge-default badge-danger float-right m-0">@(Model.Count != 0 ? Model.Count +" New": null )</span>
            </div>


        </li>
        <li id="notificationList" class="scrollable-container media-list w-100">
            @if (Model.Count == 0)
            {
                <div class="media">
                    <div class="media-body">
                        <p class="notification-text font-medium-3 text-muted">There is no unreaded Message</p>
                    </div>
                </div>

            }
            @foreach (var message in Model)
            {
                <a href=/Chat/PrivateChat/@message.Key.Id>
                    <div class="media">
                        <div class="media-left">
                            <span class="avatar rounded-circle">
                                <img src=@message.Key.ProfileImageUrl alt="avatar"><i></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">@message.Key.Name @message.Key.Surname</h6>
                            <p class="notification-text font-small-3 text-muted">@message.Select(t => t.Messages).FirstOrDefault()</p>
                        </div>
                    </div>
                </a>
            }
        </li>
    </ul>
</li>
